html{
    height: 100%;
    overflow: hidden;

}
    body{
         
   background-color: #c0c0c0;
    color: #ffffff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
    }
    header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    
    }
    header h1{
        font-family: Algerian;
        text-decoration: underline;
        font-weight: bolder;
    color: #000000;
    font-size: 150px;
    margin-top: -100px;
    
    }
    header, header:before{
    
        background: 50% 50% / cover;
    }
    header::before{
    
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background-image: url(../web_Images/img6.jpg);
        background-size: cover;
        transform-origin: center center 0;
        transform: translateZ(-1px)scale(2);
        z-index: -1;
        min-height: 100vh;
    }
    header *{
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
   /* padding: 1em 0;*/
    
    }

    section{

        padding: 30px;
        background: #ffffff;
    }
    section h1{
    
        font-size: 3.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
        color: #000000;
    }
    section p{
        padding-top: 5%;
        font-size: 2.5rem;
        font-style: italic;
        color: #000000;
    }
    div img{
      margin-top: 30%;
       margin-left: 40%;
        max-width: 25%;
        max-height: 25%;
        margin-bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid #000000;

    }
    .wrapper{

        width: 50%;
        height: auto;
        margin: 0 auto;
        padding-top: 2%;
        background-color: gray;
        box-shadow: 7px 0px 10px rgba(0,0,0,.6), -7px 0px 10px rgba(0,0,0,.6);
       font-family: Lucida Handwriting;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }
    .Wrapper{

        width: 50%;
        height: auto;
        margin: 0 auto;
        padding-top: 2%;
        background-color: gray;
        box-shadow: 7px 0px 10px rgba(0,0,0,.6), -7px 0px 10px rgba(0,0,0,.6);
        
        align-items: center;
        justify-content: center;
    }

    .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #0d0f1b;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        
        }
        .sidenav .closebtn{
        
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 50px;
            margin-left: 50px;
            color: white;
            text-decoration: none;
        }
        .openbtn{
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            color: #ffffff;
            text-decoration: none; 
        }
        @media screen and (max-height:450px){
        
            .sidenav{padding-top: 15px;}
            .sidenav a{font-size: 18px;}
        }
        ul{
            position: relative;
            display: flex;
            flex-direction: column;
        }
        ul li{
        
            list-style: none;
        
        }
        ul li:before{
        
            content: attr(data-text);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% -50%);
            color: #fff;
            font-size: 6em;
            font-weight: 700;
            pointer-events: none;
            opacity: 0;
            letter-spacing: 20px;
            transition: 0.5s;
            white-space: nowrap;
        }
        ul li:hover:before{
            opacity: 0.05;
            letter-spacing: 0px;
            
        }
        ul li a{
        
            position: relative;
            display: inline-block;
            padding: 6px 15px;
            text-decoration: none;
            background: #2196f3;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 2px;
            overflow: hidden;
            transform: 0.5s;
            z-index: 1;
        }
        
        
        ul:hover li a
        {
        opacity: 0;
        }
        ul li a:hover{
        
            transform: scale(1.4);
            z-index: 1000;
            background: #ff3f81;
            opacity: 1;
        }
        ul li a:before{
        
            content: '';
            position: absolute;
            top: 0;
            left: -100px;
            width: 80px;
            height: 100%;
            background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8),transparent);
            transform: skewX(35deg);
            transition: 0s;
        }
        ul li a:hover:before{
            left: calc(100% + 100px);
          transition: 0.5s;
        
            transition-delay: 0.2s;
        }
        